<div class="flex-col flex items-center justify-center overflow-x-auto">
  <h1 class="text-xl font-bold mb-4 mt-5">曲の一覧</h1>
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th class="text-xl">タイトル</th>
      </tr>
    </thead>
    <tbody>
      <% @songs.each do |song| %>
        <tr class="hover">
          <td><%= link_to song.title, song_path(song)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @songs %>

</div>


